<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelajah Buku</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="search-container">
        <h1>Jelajah Buku</h1>
        <h2>Pilih Autocomplete yang Ingin Kamu Gunakan untuk Menemukan Buku yang Kamu Cari</h2>
        <div class="search-box-container">
            <!-- Tombol untuk mengakses halaman N-gram -->
            <a href="/ngram"><button id="ngram-button">Autocomplete N-gram</button></a>
            <!-- Tombol untuk mengakses halaman LSTM -->
            <a href="/lstm"><button id="lstm-button">Autocomplete LSTM</button></a>
        </div>
    </div>
</body>
</html>
